.label {
    align-items: center;
    background: #36383C;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    margin: 0 0 4px 4px;
    padding: 0 8px;
}

.label-text-with-icon {
    margin-left: 8px;
}

.label--green {
    background: #31B76A;
}

.label--red {
    background: #E34F56
}

.label--blue {
    background: #0065FF;
}

.label--white {
    background: #fff;
    color: #000;

    svg {
        fill: #000;
    }
}

.label--clickable {
    cursor: pointer;
}
